
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body style="background-image: url('http://maui.hawaii.edu/mli/wp-content/uploads/2014/04/UHMC-Header.jpg'); background-size: cover;">
